<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body >
<div th:fragment="ittou_contents">
<h4 th:text="${title}"></h4>
<form th:action="@{/soft/ittou/new}" method="post" th:object="${ittouTatemono}">
	<div class="form-group" th:classappend="${#fields.hasErrors('shikucyoson')}? 'has-error'">
		<label for="shikucyoson">所在(市区町村（何市何町))</label>
		<input type="text" name="shikucyoson" class="form-control" th:field="*{shikucyoson}" />
		<span class="text-danger" th:if="${#fields.hasErrors('shikucyoson')}" th:errors="*{shikucyoson}">所在(市区町村)エラー</span>
	</div>
	<div class="form-group" th:classappend="${#fields.hasErrors('ooaza')}? 'has-error'">
		<label for="ooaza">所在(大字（何一丁目))</label>
		<input type="text" name="ooaza" class="form-control" th:field="*{ooaza}" />
		<span class="text-danger" th:if="${#fields.hasErrors('ooaza')}" th:errors="*{ooaza}">所在(大字（何一丁目))エラー</span>
	</div>
	<div class="form-group" th:classappend="${#fields.hasErrors('shikichiban')}? 'has-error'">
		<label for="shikichiban">敷地番</label>
		<input type="text" name="shikichiban" class="form-control" th:field="*{shikichiban}"/>
		<span class="text-danger" th:if="${#fields.hasErrors('shikichiban')}" th:errors="*{shikichiban}">敷地番エラー</span>
	</div>
	<div class="form-group" th:classappend="${#fields.hasErrors('shikichiban')}? 'has-error'">
		<label for="shikichiban">換地等の記載</label>
		<input type="text" name="kanchi" class="form-control" th:field="*{kanchi}"/>
		<span class="text-danger" th:if="${#fields.hasErrors('kanchi')}" th:errors="*{kanchi}">換地等の記載エラー</span>
	</div>
	<div class="form-group" th:classappend="${#fields.hasErrors('tatemonoBango')}? 'has-error'">
		<label for="tatemonoBango">建物の名称</label>
		<input type="text" name="tatemonoBango" class="form-control" th:field="*{tatemonoBango}"/>
		<span class="text-danger" th:if="${#fields.hasErrors('tatemonoBango')}" th:errors="*{tatemonoBango}">建物の名称エラー</span>
	</div>
	<div class="form-group" th:classappend="${#fields.hasErrors('kozo')}? 'has-error'">
		<label for="kozo">構造</label>
		<input type="text" name="kozo" class="form-control" th:field="*{kozo}"/>
		<span class="text-danger" th:if="${#fields.hasErrors('kozo')}" th:errors="*{kozo}">構造エラー</span>
	</div>
	<div class="form-group" th:classappend="${#fields.hasErrors('yukamenseki')}? 'has-error'">
		<label for="yukamenseki">床面積</label>
		<textarea name="yukamenseki" rows="20" cols="30" class="form-control" th:field="*{yukamenseki}"></textarea>
		<span class="text-danger" th:if="${#fields.hasErrors('yukamenseki')}" th:errors="*{yukamenseki}">床面積エラー</span>
	</div>
	<div class="form-group" th:classappend="${#fields.hasErrors('biko')}? 'has-error'">
		<label for="biko">備考</label>
		<input type="text" name="biko" class="form-control" th:field="*{biko}"/>
		<span class="text-danger" th:if="${#fields.hasErrors('biko')}" th:errors="*{biko}">備考エラー</span>
	</div>
	<div>
		<button type="submit" class="btn btn-primary mr-4">登録</button>
		<button type="button" onclick="history.back()" class="btn btn-primary ml-4">戻る</button>
	</div>
</form>
</div>
</body>