<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body >

<div th:fragment="person_contents">
<h4 th:text="${title}"></h4>
<form th:action="@{/people/search}" method="get">
<div th:fragment="search_contents">
	<div class="form-group form-row">
		<label for="name" class="col-sm-2 text-center">キーワード</label>
		<input type="text" name="name" class="form-control col-sm-6">
		<input type="submit" value="検索" class="btn btn-secondary ml-2">
	</div>
</div>
</form>
<p th:text="|${list.getTotalElements()}件のデータが存在します。|"></p>
<table class="table table-bordered text-center table-hover table-sm">
<tr>
	<th class="m-1 p-1"><a class="btn btn-info btn-sm text-white ml-1 p-1" th:href="@{/people/new}">新規作成</a></th>
	<th>ID</th>
	<th>名前</th>
	<th>カナ</th>
	<th>生年月日</th>
	<th>メール</th>
	<th>連絡先</th>
	<th colspan="2"></th>
</tr>

<tr th:each="person : ${list}">
	<td class="m-1 p-1">
	<form th:action="@{/people/{id}/delete(id=${person.id})}" method="post">
		<a class="btn btn-primary btn-sm text-white ml-1 p-1" th:href="@{/people/{id}/edit(id=${person.id})}">編集</a>
		<input class="btn btn-danger btn-sm text-white m-1 p-1" type="submit" value="削除"
		onclick="return confirm('削除します。よろしいですか？')" sec:authorize="hasRole('ADMIN')"/>
	</form>
	</td>
	<td th:text="${person.id}"></td>
	<td><a th:href="@{/people/{id}(id=${person.id})}" th:text="${person.name}"></a></td>
	<td th:text="${person.kana}"></td>
	<td th:text="${#temporals.format(person.birthday, 'yyyy年MM月dd日')}"></td>
	<td class="m-0 p-0">
		<ul class="list-group list-group-flush m-1 p-1">
			<li th:each="mail : ${person.getMailList()}" class="list-group-item m-0 p-0">
				<span th:text="${mail.mailKind}"></span>
				<span> : </span>
				<a th:href="'mailto:' + ${mail.mailAddr}" th:text="${mail.mailAddr}"></a>
			</li>
		</ul>
	</td>
	<td class="m-0 p-0">
		<ul class="list-group list-group-flush m-1 p-1">
			<li th:each="tl : ${person.telephoneList}" class="list-group-item m-0 p-0">
				<span th:text="${tl.phoneKind}"></span>
				<span> : </span>
				<span th:text="${tl.phoneNumber}"></span>
			</li>
		</ul>
	</td>

	<td>
		<a class="btn btn-info btn-sm text-white m-1 p-1" th:href="@{/customers/{id}/mailnew(id=${person.id})}">メール新規</a><br>
		<a class="btn btn-info btn-sm text-white m-1 p-1" th:href="@{/customers/{id}/telnew(id=${person.id})}">電 話 新 規</a>
	</td>
</tr>
</table>
<nav aria-label="Page navigation">
<ul class="pagination">

   <li class="page-item">
      <a class="page-link" th:href="@{?page={num}&name={param}(num=0, param=${param.name})}" aria-label="Previous">
        <span aria-hidden="true">先頭</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>

    <li th:if="${list.getNumber() != 0}"class="page-item">
    	<a class="page-link" th:href="${param.name}? @{?page={num}&name={param}(num=${list.getNumber()} - 1, param=${param.name})}
    	 : @{?page={num}(num=${list.getNumber()} - 1)}" th:text="${list.getNumber()}"></a>
    </li>

    <li class="page-item">
    	<a class="page-link" href="#" th:text="${list.getNumber()} + 1"></a>
    </li>

    <li th:if="${list.getNumber() + 1} != ${list.getTotalPages()}" class="page-item">
    	<a class="page-link" th:href="${param.name}? @{?page={num}&name={param}(num=${list.getNumber()} + 1, param=${param.name})}
    	 : @{?page={num}(num=${list.getNumber()} + 1)}" th:text="${list.getNumber()} + 2"></a>
    </li>

    <li class="page-item">
      <a class="page-link" th:href="${param.name}? @{?page={num}&name={param}(num=${list.getTotalPages()} - 1, param=${param.name})}
      : @{?page={num}(num=${list.getTotalPages()} - 1)}" aria-label="Next">
        <span aria-hidden="true">最後</span>
        <span class="sr-only">Next</span>
      </a>
    </li>

  </ul>
</nav>
</div>
</body>
</html>