<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body >
<div th:fragment="customer_contents">
<h4 th:text="${title}"></h4>
<form th:action="@{/customers/new}" method="post" enctype="multipart/form-data" th:object="${customer}">
<div class="form-group">
	<label for="file">ファイル</label>
	<input type="file" name="file" class="form-control"/>

</div>
<div class="form-group">
	<label for="person">区分</label>
	<select id="person" name="person" class="form-control">
		<option th:selected="${''}"/>
		<option th:each="person : ${T(com.example.demo.entity.Customer.PersonDivision).values()}"
			th:text="${person}"/>
	</select>
</div>
<div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
	<label for="name">名前</label>
	<input type="text" name="name" class="form-control" th:field="*{name}"/>
	<span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">名前エラー</span>
</div>
<div class="form-group" th:classappend="${#fields.hasErrors('kana')}? 'has-error'">
	<label for="kana">カナ</label>
	<input type="text" name="kana" class="form-control" th:field="*{kana}"/>
	<span class="text-danger" th:if="${#fields.hasErrors('kana')}" th:errors="*{kana}">カナエラー</span>
</div>
<div class="form-group" th:classappend="${#fields.hasErrors('birthday')} ? 'has-error'">
	<label for="birthday">生（設立）年月日</label>
	<input type="date" name="birthday" class="form-control" th:field="*{birthday}"/>
	<span class="text-danger" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">生年（設立年）月日エラー</span>
</div>
<div class="form-group">
	<label for="mailKind">メール種類</label>
	<input type="text" name="mailKind" class="form-control" />
</div>
<div class="form-group">
	<label for="mailAddr">メールアドレス</label>
	<input type="text" name="mailAddr" class="form-control" />
</div>
<div class="form-group">
	<label for="phoneKind">電話種類</label>
	<input type="text" name="phoneKind" class="form-control" />
</div>
<div class="form-group">
	<label for="phoneNumber">電話番号</label>
	<input type="text" name="phoneNumber" class="form-control" />
</div>
<div>
	<button type="submit" class="btn btn-primary mr-4">登録</button>
	<button type="button" onclick="history.back()" class="btn btn-primary ml-4">戻る</button>
</div>
</form>
</div>