<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>
<body class="text-center">
<div th:fragment="login_contents">
<h4>ログイン</h4>
<form method="post" th:action="@{/login}">
	<p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
	   th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
	   class="text-danger">
	   ログインエラーメッセージ
	</p>
	<label>ユーザー名：</label>
	<input type="text" name="name" /><br>
	<br>
	<label>パスワード：</label>
	<input type="password" name="password" /><br>
	<br>
	<button class="btn btn-primary" type="submit">ログイン</button>
</form>
<br>
</div>
</body>
</html>