<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body >

<div th:fragment="honnninkakunin_contents">
<h4 th:text="${customer.name} + の + ${title}"></h4>
<form th:action="@{/customers/search}" method="get">
<div th:fragment="search_contents">
	<div class="form-group form-row">
		<label for="name" class="col-sm-2 text-center">キーワード</label>
		<input type="text" name="name" class="form-control col-sm-6">
		<input type="submit" value="検索" class="btn btn-secondary ml-2">
	</div>
</div>
</form>
<p th:text="|${list.getTotalElements()}件のデータが存在します。|"></p>
<table class="table table-bordered text-center table-hover table-sm">
<tr>
	<th class="m-1 p-1">
		<a class="btn btn-info btn-sm text-white ml-1 p-1" th:href="@{/customers/{id}/idents/tnew(id=${customer.id})}">対面型新規</a>
		<a class="btn btn-info btn-sm text-white ml-1 p-1" th:href="@{/customers/{id}/idents/hnew(id=${customer.id})}">非対面新規</a>
	</th>
	<th>ID</th>
	<th>確認者</th>
	<th>住所</th>
	<th>最終更新日</th>
	<th colspan="2"></th>
</tr>
<tr th:each="kakunin : ${list}">
	<td class="m-1 p-1">
	<form th:action="@{/idents/{id}/delete(id=${kakunin.id})}" method="post">
		<a class="btn btn-primary btn-sm text-white ml-1 p-1" th:href="@{/customers/{cid}/idents/{id}/edit(cid=${customer.id},id=${kakunin.id})}">編集</a>
		<input class="btn btn-danger btn-sm text-white m-1 p-1" type="submit" value="削除"
		onclick="return confirm('削除します。よろしいですか？')" sec:authorize="hasRole('ADMIN')"/>
	</form>
	</td>
	<td><a th:href="@{/customers/{cid}/idents/{hid}(cid=${customer.id}, hid=${kakunin.id})}" th:text="${kakunin.id}"></a></td>
	<td th:if="${kakunin.getUser()}" th:text="${kakunin.user.name}"></td>
	<td th:each="addr : ${kakunin.addressList}">
		<p th:text="${addr.addr}"></p>
	</td>
	<td th:text="${kakunin.lastModifiedDate}"></td>
	<!--
</tr>
-->
</table>
<nav aria-label="Page navigation">
<ul class="pagination">

   <li class="page-item">
      <a class="page-link" th:href="@{?page={num}&name={param}(num=0, param=${param.name})}" aria-label="Previous">
        <span aria-hidden="true">先頭</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>

    <li th:if="${list.getNumber() != 0}"class="page-item">
    	<a class="page-link" th:href="${param.name}? @{?page={num}&name={param}(num=${list.getNumber()} - 1, param=${param.name})}
    	 : @{?page={num}(num=${list.getNumber()} - 1)}" th:text="${list.getNumber()}"></a>
    </li>

    <li class="page-item">
    	<a class="page-link" href="#" th:text="${list.getNumber()} + 1"></a>
    </li>

    <li th:if="${list.getNumber() + 1} != ${list.getTotalPages()}" class="page-item">
    	<a class="page-link" th:href="${param.name}? @{?page={num}&name={param}(num=${list.getNumber()} + 1, param=${param.name})}
    	 : @{?page={num}(num=${list.getNumber()} + 1)}" th:text="${list.getNumber()} + 2"></a>
    </li>

    <li class="page-item">
      <a class="page-link" th:href="${param.name}? @{?page={num}&name={param}(num=${list.getTotalPages()} - 1, param=${param.name})}
      : @{?page={num}(num=${list.getTotalPages()} - 1)}" aria-label="Next">
        <span aria-hidden="true">最後</span>
        <span class="sr-only">Next</span>
      </a>
    </li>

  </ul>
</nav>
</div>
</body>
</html>