<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body >
<div th:fragment="company_contents">
<h4 th:text="${title}"></h4>
<form th:action="@{edit}" method="post" th:object="${company}"  enctype="multipart/form-data">
	<input type="hidden" name="id" th:value="*{id}"/>
<div class="form-group row">
	<label for="name" class="col-sm-2 text-right">商号</label>
	<input type="text" name="name" class="form-control col-sm-6" th:value="*{name}"/>
</div>
<div class="form-group row">
	<label for="kana" class="col-sm-2 text-right">カナ</label>
	<input type="text" name="kana" class="form-control col-sm-6" th:value="*{kana}"/>
</div>
<div class="form-group row" th:classappend="${#fields.hasErrors('birthday')} ? 'has-error'">
	<label for="birthday" class="col-sm-2 text-right">設立年月日</label>
	<input type="date" name="birthday" class="form-control col-sm-6" th:value="*{birthday}"/>
	<span class="text-danger" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">設立年月日エラー</span>
</div>
<div class="form-group row">
	<label for="houjinbango" class="col-sm-2 text-right">会社法人等番号</label>
	<input type="text" name="houjinbango" class="form-control col-sm-6" th:value="*{houjinbango}"/>
</div>
<div th:each="daihyo : *{daihyosya}">
<div class="form-group row">
	<label for="katagaki" class="col-sm-2 text-right">代表者肩書</label>
	<input type="text" name="katagaki" class="form-control col-sm-6" th:value="${daihyo.katagaki}" />
</div>
<div class="form-group row">
	<label for="daihyo-person" class="col-sm-2 text-right">代表者</label>
	<select id="daihyo-person" name="person" class="form-control">
		<option id="daihyo-person" th:selected="${daihyo.id}" th:value="${daohyo.id}"
		th:text="${daihyo.getPerson().getName()}"/>
		<option th:each="dai : ${daihyos}" th:value="${daihyos.id}" th:text="${daihyos.getName()}"/>
	</select>
</div>
</div>
<div class="form-group row" th:classappend="${#fields.hasErrors('nextSyogyoToki')} ? 'has-error'">
	<label for="nextSyogyoToki" class="col-sm-2 text-right">次回商業申請期限</label>
	<input type="date" name="nextSyogyoToki" class="form-control col-sm-6" th:value="*{nextSyogyoToki}"/>
	<span class="text-danger" th:if="${#fields.hasErrors('nextSyogyoToki')}" th:errors="*{nextSyogyoToki}">次回商業申請期限エラー</span>
</div>
<div class="mail" th:each="mail : *{mailList}">
<div class="form-group row">
	<label for="mailKind" class="col-sm-2 text-right">メール種類</label>
	<input type="text" name="mailKind" class="form-control col-sm-6" th:value="${mail.mailKind}" />
</div>
<div class="form-group row">
	<label for="mailAddr" class="col-sm-2 text-right">メールアドレス</label>
	<input type="text" name="mailAddr" class="form-control col-sm-6" th:value="${mail.mailAddr}" />
</div>
</div>
<div class="tel" th:each="tel : *{telephoneList}">
<div class="form-group row">
	<label for="phoneKind" class="col-sm-2 text-right">電話種類</label>
	<input type="text" name="phoneKind" class="form-control col-sm-6" th:value="${tel.phoneKind}" />
</div>
<div class="form-group row">
	<label for="phoneNumber" class="col-sm-2 text-right">電話番号</label>
	<input type="text" name="phoneNumber" class="form-control col-sm-6" th:value="${tel.phoneNumber}" />
</div>
</div>
<div class="form-group row">
	<label for="memo" class="col-sm-2 text-right">備考</label>
	<textarea name="memo" rows="5" cols="20" class="form-control col-sm-6" th:field="*{memo}" placeholder="注意点等ひと口メモ"></textarea>
</div>
<div>
	<button type="submit" class="btn btn-primary m-4">更新</button>
	<button type="button" onclick="history.back()" class="btn btn-primary m-4">戻る</button>
</div>
</form>
</div>