<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body >
<div th:fragment="senyu_contents">
<h4 th:text="${title}"></h4>
<form th:action="@{edit}" method="post" th:object="${senyu}">
	<input type="hidden" name="id" th:value="*{id}"/>
	<div class="form-group" th:classappend="${#fields.hasErrors('fudosanBango')}? 'has-error'">
		<label for="fudosanBango">不動産番号</label>
		<input type="text" name="fudosanBango" class="form-control" th:field="*{fudosanBango}" />
		<span class="text-danger" th:if="${#fields.hasErrors('fudosanBango')}" th:errors="*{fudosanBango}">不動産番号エラー</span>
	</div>
	<div class="form-group" th:classappend="${#fields.hasErrors('shikucyoson')}? 'has-error'">
		<label for="shikucyoson">地番区域市区町村</label>
		<input type="text" name="shikucyoson" class="form-control" th:field="*{shikucyoson}"/>
		<span class="text-danger" th:if="${#fields.hasErrors('shikucyoson')}" th:errors="*{shikucyoson}">地番区域市区町村エラー</span>
	</div>
	<div class="form-group" th:classappend="${#fields.hasErrors('ooaza')}? 'has-error'">
		<label for="ooaza">地番区域大字</label>
		<input type="text" name="ooaza" class="form-control" th:field="*{ooaza}"/>
		<span class="text-danger" th:if="${#fields.hasErrors('ooaza')}" th:errors="*{ooaza}">地番区域大字エラー</span>
	</div>
	<div class="form-group" th:classappend="${#fields.hasErrors('kaokuBango')}? 'has-error'">
		<label for="kaokuBango">家屋番号</label>
		<input type="text" name="kaokuBango" class="form-control" th:field="*{kaokuBango}"/>
		<span class="text-danger" th:if="${#fields.hasErrors('kaokuBango')}" th:errors="*{kaokuBango}">家屋番号エラー</span>
	</div>
	<div class="form-group" th:classappend="${#fields.hasErrors('tatemonoBango')}? 'has-error'">
		<label for="tatemonoBango">建物の名称</label>
		<input type="text" name="tatemonoBango" class="form-control" th:field="*{tatemonoBango}"/>
		<span class="text-danger" th:if="${#fields.hasErrors('tatemonoBango')}" th:errors="*{ktatemonoBango}">建物の名称エラー</span>
	</div>
	<div class="form-group" th:classappend="${#fields.hasErrors('syurui')}? 'has-error'">
		<label for="syurui">種類</label>
		<input type="text" name="syurui" class="form-control" th:field="*{syurui}"/>
		<span class="text-danger" th:if="${#fields.hasErrors('syurui')}" th:errors="*{syurui}">種類エラー</span>
	</div>
	<div class="form-group" th:classappend="${#fields.hasErrors('kozo')}? 'has-error'">
		<label for="kozo">構造</label>
		<input type="text" name="kozo" class="form-control" th:field="*{kozo}"/>
		<span class="text-danger" th:if="${#fields.hasErrors('kozo')}" th:errors="*{kozo}">構造エラー</span>
	</div>
	<div class="form-group" th:classappend="${#fields.hasErrors('yukamenseki')}? 'has-error'">
		<label for="yukamenseki">床面積</label>
		<input type="text" name="yukamenseki" class="form-control" th:field="*{yukamenseki}"/>
		<span class="text-danger" th:if="${#fields.hasErrors('yukamenseki')}" th:errors="*{yukamenseki}">床面積エラー</span>
	</div>
	<div class="form-group" th:classappend="${#fields.hasErrors('biko')}? 'has-error'">
		<label for="biko">備考</label>
		<input type="text" name="biko" class="form-control" th:field="*{biko}"/>
		<span class="text-danger" th:if="${#fields.hasErrors('biko')}" th:errors="*{biko}">備考エラー</span>
	</div>
	<div class="tatemono_edit_fuzokuwrap" th:each="fuzoku : *{fuzokuTatemono}">
		<div class="tatemono_fuzokuhyoji">
			<div class="form-group">
				<label for="fuzokufugo">附属建物符号</label>
				<input type="text" name="fuzokufugo" class="form-control" th:value="${fuzoku.fuzokufugo}"/>
			</div>
			<div class="form-group">
				<label for="fuzokusyurui">附属建物種類</label>
				<input type="text" name="fuzokusyurui" class="form-control" th:value="${fuzoku.fuzokusyurui}"/>
			</div>
			<div class="form-group">
				<label for="fuzokukozo">附属建物構造</label>
				<input type="text" name="fuzokukozo" class="form-control" th:value="${fuzoku.fuzokukozo}"/>
			</div>
			<div class="form-group">
				<label for="fuzokuyukamenseki">附属建物床面積</label>
				<input type="text" name="fuzokuyukamenseki" class="form-control" th:value="${fuzoku.fuzokuyukamenseki}"/>
			</div>
			<div class="form-group">
				<label for="fuzokubiko">附属建物備考</label>
				<input type="text" name="fuzokubiko" class="form-control" th:value="${fuzoku.fuzokubiko}"/>
			</div>
		</div>
	</div>
	<div class="shikichiwrap" th:each="shikichi : *{shikichiken}">
		<div class="shikichihyoji">
			<div class="form-group">
				<label for="shikichifugo">敷地権の符号</label>
				<input type="text" name="shikichifugo" class="form-control" th:value="${shikichi.shikichifugo}"/>
			</div>
			<div class="form-group">
				<label for="shikichisyozaichiban">敷地権の所在地番</label>
				<input type="text" name="shikichisyozaichiban" class="form-control" th:value="${shikichi.shikichisyozaichiban}"/>
			</div>
			<div class="form-group">
				<label for="shikichichimoku">敷地権の地目</label>
				<input type="text" name="shikichichimoku" class="form-control" th:value="${shikichi.shikichichimoku}"/>
			</div>
			<div class="form-group">
				<label for="shikichichiseki">敷地権の地積</label>
				<input type="text" name="shikichichiseki" class="form-control" th:value="${shikichi.shikichichiseki}"/>
			</div>
			<div class="form-group">
				<label for="shikichisyurui">敷地権の種類</label>
				<input type="text" name="shikichisyurui" class="form-control" th:value="${shikichi.shikichisyurui}"/>
			</div>
			<div class="form-group">
				<label for="shikichiwariai">敷地権の割合</label>
				<input type="text" name="shikichiwariai" class="form-control" th:value="${shikichi.shikichiwariai}"/>
			</div>
			<div class="form-group">
				<label for="shikichibiko">敷地権の備考</label>
				<input type="text" name="shikichibiko" class="form-control" th:value="${shikichi.shikichibiko}"/>
			</div>
		</div>
	</div>
<!--
附属建物　敷地権
 -->
	<div>
		<button type="submit" class="btn btn-primary mr-4">更新</button>
		<a class="btn btn-primary mr-4" th:href="@{/soft/senyu}" >戻る</a>
	</div>
</form>
</div>