<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body >
<div th:fragment="senyu_contents">
<h4 th:text="${title}"></h4>
<form th:action="@{/soft/senyu/{id}/shikichiadd(id=${senyu.id})}" method="post" th:object="${senyu}">
	<div class="form-group">
		<label for="shikichifugo">敷地権の符号</label>
		<input type="text" name="shikichifugo" class="form-control"/>
	</div>
	<div class="form-group">
		<label for="shikichisyozaichiban">敷地権の所在地番</label>
		<input type="text" name="shikichisyozaichiban" class="form-control"/>
	</div>
	<div class="form-group">
		<label for="shikichichimoku">敷地権の地目</label>
		<input type="text" name="shikichichimoku" class="form-control"/>
	</div>
	<div class="form-group">
		<label for="shikichichiseki">敷地権の地積</label>
		<input type="text" name="shikichichiseki" class="form-control"/>
	</div>
	<div class="form-group">
		<label for="shikichisyurui">敷地権の種類</label>
		<input type="text" name="shikichisyurui" class="form-control"/>
	</div>
	<div class="form-group">
		<label for="shikichiwariai">敷地権の割合</label>
		<input type="text" name="shikichiwariai" class="form-control"/>
	</div>
	<div class="form-group"s>
		<label for="shikichibiko">敷地権の備考</label>
		<input type="text" name="shikichibiko" class="form-control" value=" "/>
	</div>
<div>
	<button type="submit" class="btn btn-primary mr-4">登録</button>
	<button type="button" onclick="history.back()" class="btn btn-primary ml-4">戻る</button>
</div>
</form>
</div>
</body>