<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body >
<div th:fragment="mishikko_contents">
<h4 th:text="${title}"></h4>

<p th:text="|${list.getTotalElements()}件のデータが存在します。|"></p>
<table class="table table-bordered table-sm table-hover text-center">
	<tr>
		<th>
			<a class="btn btn-info btn-sm text-white ml-1 p-1" th:href="@{/soft/mishikko/new}" th:text="データ作成"></a>
		</th>
		<th>ID</th>
		<th>件名</th>
		<th>申請年月日</th>
		<th>登記所</th>
		<th>登記所コード</th>
		<th>物件</th>
	</tr>
	<tr th:each="mishikko : ${list}">
		<td></td>
		<td th:text="${mishikko.id}"></td>
		<td><a th:href="@{/soft/mishikko/{id}(id=${mishikko.id})}" th:text="${mishikko.kenmei}"></a></td>
		<td th:text="${mishikko.date}"></td>
		<td th:text="${mishikko.tokisyo.tokisyoName}"></td>
		<td th:text="${mishikko.tokisyo.tokisyoCode}"></td>
		<td>
			<ul th:each="bukken : ${mishikko.taisyoBukkenList}">
				<li th:text="|${bukken.chibanKuiki}${bukken.chibanKaokuBango}|"></li>
			</ul>
		</td>
	</tr>

</table>
</div>