<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title th:text="|${title}|"></title>
</head>
<body >
<div class="container-fluid" th:fragment="mishikko_contents">
<h4 th:text="${title}"></h4>

<nav class="navbar navbar-expand-lg navbar-light bg-light mt-2 mb-4">
	<a class="btn btn-sm btn-primary mr-4" href="" th:text="編集"></a>
	<a class="btn btn-sm btn-primary mr-4" th:href="@{/soft/mishikko/{id}/create(id=${mishikko.id})}" th:text="申請ファイル作成"></a>
<!--
	<form th:action="@{/customers/{cid}/delete/{hid}(cid=${customer.id}, hid=${honninkakunin.id})}" method="post">
		<input class="btn btn-sm btn-danger text-white mr-4" type="submit" value="削除"
		onclick="return confirm('削除します。よろしいですか？')" sec:authorize="hasRole('ADMIN')"/>
	</form>
 -->
	<a class="btn btn-sm btn-primary mr-4" onclick="history.back()" href="#" >戻る</a>
</nav>
<div th:if="${createMessage}">
	<p th:text="${createMessage}" class="bg-info text-light"></p>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-10">
			<table th:object="${mishikko}" class="table table-hover">
				<tr>
					<th scope="row">ＩＤ</th>
					<td th:text="*{id}"></td>
				</tr>
				<tr>
					<th scope="row">件名</th>
					<td th:text="*{kenmei}"></td>
				</tr>
				<tr>
					<th scope="row">申請年月日</th>
					<td th:text="*{date}"></td>
				</tr>
				<tr>
					<th scope="row">登記所</th>
					<td th:text="|*{tokisyo.tokisyoName}(*{tokisyo.tokisyoCode})|"></td>
				</tr>
				<tr>
					<th scope="row">物件</th>
					<td  th:each="bukken : *{taisyoBukkenList}">
						<p th:text="|${bukken.chibanKuiki}${bukken.chibanKaokuBango} ${bukken.bukkenKubun}|"></p>
						<p th:text="|${bukken.mokuteki} ${bukken.yoshiKubun}
						 ${bukken.uketsukeDate} 受付第${bukken.uketsukeBango}号 ${bukken.Dojyuni}|"></p>
					</td>
				</tr>
	</table>
		</div>
		<div class="co-sm-2">

		</div>
	</div>


</div>
</div>