<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title th:text="|${title}|"></title>
</head>
<body >
<div class="container-fluid" th:fragment="syoiten_contents">
<h4 th:text="${title}"></h4>

<nav class="navbar navbar-expand-lg navbar-light bg-light mt-2 mb-4">
	<a class="btn btn-sm btn-primary mr-4" th:href="@{/soft/syoiten/{id}/edit(id=${syoiten.id})}" th:text="編集"></a>

	<a class="btn btn-sm btn-primary mr-4" th:href="@{/soft/syoiten/{id}/kenrisyanew(id=${syoiten.id})}" th:text="権利者追加"></a>
	<a class="btn btn-sm btn-primary mr-4" th:href="@{/soft/syoiten/{id}/gimusyanew(id=${syoiten.id})}" th:text="義務者追加"></a>
	<a class="btn btn-sm btn-primary mr-4" th:href="@{/soft/syoiten/{id}/bukkennew(id=${syoiten.id})}" th:text="物件追加"></a>
	<a class="btn btn-sm btn-primary mr-4" th:href="@{/soft/syoiten/{id}/create(id=${syoiten.id})}" th:text="特例申請ファイル作成"></a>
	<a class="btn btn-sm btn-primary mr-4" th:href="@{/soft/syoiten/{id}/qrcreate(id=${syoiten.id})}" th:text="QR申請ファイル作成"></a>
	<form th:action="@{/soft/syoiten/{id}/delete(id=${syoiten.id})}" method="post">
		<input class="btn btn-sm btn-danger text-white mr-4" type="submit" value="削除"
		onclick="return confirm('削除します。よろしいですか？')" />
	</form>
	<a class="btn btn-sm btn-primary mr-4" th:href="@{/soft/syoiten}" >戻る</a>
</nav>
<div th:if="${createMessage}">
	<p th:text="${createMessage}" class="bg-info text-light"></p>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-10">
			<table th:object="${syoiten}" class="table table-hover">
				<tr>
					<th scope="row">ＩＤ</th>
					<td th:text="*{id}"></td>
				</tr>
				<tr>
					<th scope="row">件名</th>
					<td th:text="*{kenmei}"></td>
				</tr>
				<tr>
					<th scope="row">登記の目的</th>
					<td th:text="*{mokuteki}"></td>
				</tr>
				<tr>
					<th scope="row">原因</th>
					<td th:text="*{genin}"></td>
				</tr>
				<tr>
					<th scope="row">権利者</th>
					<td>
						<div th:each="kenrisya : *{kenrisyaList}">
							<p th:text="${kenrisya.getAddr()}"></p>
							<p th:text="|${kenrisya.getMochibun()}　${kenrisya.getCustomer().getName()}|"></p>
							<p th:text="${kenrisya.getDaihyo()}"></p>
							<form
								th:action="@{/soft/syoiten/{id}/kenrisyadelete/{sid}(id=${syoiten.getId()},sid=${kenrisya.getId()})}"
								 method="post" class="col-sm-2 m-2">
								<input class="btn btn-sm btn-danger text-white mr-2" type="submit" value="権利者削除"
									onclick="return confirm('削除します。よろしいですか？')"/>
							</form>
						</div>
					</td>
				</tr>
				<tr>
					<th scope="row">義務者</th>
					<td>
						<div th:each="gimusya : *{gimusyaList}">
							<p th:text="${gimusya.getAddr()}"></p>
							<p th:text="${gimusya.getCustomer().getName()}"></p>
							<p th:text="${gimusya.getDaihyo()}"></p>
							<p>
								<span>登記識別情報の有無：</span>
								<span th:text="${gimusya.getShikibetsuUmu()}"></span>
								<span>－</span>
								<span>登記識別情報を提供できない理由：</span>
								<span th:text="${gimusya.getShikibetsuRiyu()}"></span>

							</p>
							<form
								th:action="@{/soft/syoiten/{id}/gimusyadelete/{kid}(id=${syoiten.getId()},kid=${gimusya.getId()})}"
								 method="post" class="col-sm-2 m-2">
								<input class="btn btn-sm btn-danger text-white mr-2" type="submit" value="義務者削除"
									onclick="return confirm('削除します。よろしいですか？')"/>
							</form>
						</div>
					</td>
				</tr>
				<tr>
					<th scope="row">添付書類</th>
					<td th:if="*{tempsyorui}">
						<div th:each="syorui : *{tempsyorui.getSyoruis()}">
							<p th:text="${syorui}"></p>
						</div>
					</td>
				<tr>
					<th scope="row">申請年月日</th>
					<td th:text="*{date}"></td>
				</tr>
				<tr th:if="*{tokisyo}">
					<th scope="row">登記所</th>
					<td th:text="|*{tokisyo.getTokisyoName()}(*{tokisyo.getTokisyoCode()})|"></td>
				</tr>
				<tr>
					<th scope="row">課税価格合計</th>
					<td th:text="*{kazeiGoukei}"></td>
				</tr>
				<tr>
					<th scope="row">課税価格内訳</th>
					<td th:text="*{kazeiUchiwake}"></td>
				</tr>
				<tr>
					<th scope="row">登録免許税合計</th>
					<td th:text="*{toumenGoukei}"></td>
				</tr>
				<tr>
					<th scope="row">登録免許税内訳</th>
					<td th:text="*{toumenUchiwake}"></td>
				</tr>
				<tr>
					<th scope="row">減税根拠条文</th>
					<td th:text="*{jyobun}"></td>
				</tr>
				<tr>
					<th scope="row">物件</th>
					<td  >
						<ul th:each="bukken : *{getShinseiBukkenList()}"  class="list-group">
							<li class="list-group-item">
								<p th:text="|${bukken.fudosanBango}　${bukken.getBukkenSyubetsu()}　
								${bukken.getChibanKuikiJyoho()}　${bukken.getChibanKaokubangoJyoho()}(${bukken.getBukkenKubun()})|"></p>
								<form
								th:action="@{/soft/syoiten/{sid}/bukkendelete/{bid}(sid=${syoiten.id},bid=${bukken.id})}"
								 method="post" class="col-sm-2 m-2">
								<input class="btn btn-sm btn-danger text-white mr-2" type="submit" value="物件削除"
									onclick="return confirm('削除します。よろしいですか？')"/>
							</form>
							</li>
						</ul>
					</td>
				</tr>
			</table>
		</div>
		<div class="co-sm-2">

		</div>
	</div>
</div>
</div>