<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body >
<div th:fragment="massyo_contents">
<h4 th:text="${title}"></h4>

<p th:text="|${list.getTotalElements()}件のデータが存在します。|"></p>
<table class="table table-bordered table-sm table-hover text-center">
	<tr>
		<th>
			<a class="btn btn-info btn-sm text-white ml-1 p-1" th:href="@{/soft/massyo/new}" th:text="データ作成"></a>
		</th>
		<th>ID</th>
		<th>件名</th>
		<th>申請年月日</th>
		<th>登記所</th>
		<th>登記所コード</th>
		<th>物件</th>
	</tr>
	<tr th:each="massyo : ${list}">
		<td>
			<form th:action="@{/soft/massyo/{id}/delete(id=${massyo.id})}" method="post">
				<a th:href="@{/soft/massyo/{id}/edit(id=${massyo.id})}" th:text="編集"
				class="btn btn-primary btn-sm text-white ml-1 p-1"></a>
				<input class="btn btn-danger btn-sm text-white m-1 p-1" type="submit" value="削除"
				onclick="return confirm('削除します。よろしいですか？')"/>
			</form>
		</td>
		<td th:text="${massyo.id}"></td>
		<td><a th:href="@{/soft/massyo/{id}(id=${massyo.id})}" th:text="${massyo.kenmei}"></a></td>
		<td th:text="${massyo.date}"></td>
		<td th:if="${massyo.getTokisyo()}" th:text="${massyo.getTokisyo().getTokisyoName()}"></td>
		<td th:if="${massyo.getTokisyo()}" th:text="${massyo.getTokisyo().getTokisyoCode()}"></td>
		<td >
			<ul th:each="bukken : ${massyo.shinseiBukkenList}" class="list-group">
				<li th:text="|${bukken.getChibanKuikiJyoho()}${bukken.getChibanKaokubangoJyoho()}|" class="list-group-item"></li>
			</ul>
		</td>
	</tr>

</table>
</div>